# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# external doc directory
/public/doc

# ODD linked from dracor-schema
/public/odd.html

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.claude
!.vscode/