.main {
  display: inline-block;
  background-color: var(--background-light);
  color: var(--main);
  padding: .2rem;
  border-radius: .3em;
  font-weight: 500;
  font-size: 1.2rem;
  border: 0;
  width: fit-content;
  transition: font-size .2s;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: var(--secondary-accent);
  }

  a {
    color: var(--main);

    em {
      color: var(--background-light);
      background-color: var(--main);
      padding: 0 .25rem;
      border-radius: .2em;
      margin-right: .1em;
      font-weight: 400;
      font-style: normal;
      text-transform: capitalize;
    }
  }

  span {
    font-weight: normal;

    // DraCor ID link
    a {
      font-size: 85%;
    }
  }

}
