@use '../mixins.scss';

.main {
  color: var(--background-light);
  background-color: var(--main);
  padding-top: var(--bootstrap-padding);
  padding-bottom: var(--bootstrap-padding);
  margin-bottom: var(--bootstrap-padding);
  z-index: 1;

  h1 {
    @include mixins.pagetitle;
  }
}
