@import "../mixins.scss";

.main {
  color: var(--background-light);
  background-color: var(--main);
  padding-top: var(--x);
  padding-bottom: var(--x);
  margin-bottom: var(--x);

  h1 {
    @include pagetitle;
  }
}
