// Styles selectively copied from
// https://github.com/TEIC/Stylesheets/blob/dev/css/tei.css

.odd-wrapper {
  background: white;
  padding: 1em;

  .titlePage {
    display: none;
  }

  ul.toc {
    list-style: none;
  }

  div.egXML_valid {
    background-color: #f7f9f6;
    border-color: #c5d8bb;
  }

  pre,
  div.pre,
  div.pre_eg,
  pre.eg,
  div.eg {
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    padding: 10px;
    color: #000000;
    line-height: 1.1em;
    font-family: monospace;
    font-size: 10pt;
    white-space: pre;
  }

  span.element {
    font-weight: bold;
    color: black;
  }

  span.attribute {
    color: #222288;
  }

  span.attributevalue {
    font-weight: normal;
    color: black;
  }

  table.wovenodd {
    width: 100%;
    clear: both;
  }

  td.wovenodd-col2 {
    width: 85%;
  }
}
