.main {
  font-size: .85rem;
  background: var(--background);
  padding: .5rem;
  border-radius: .25rem;
  opacity: .8;
  bottom: 0;
  position: absolute;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}
