/*
 * since bootstrap utilities don't allow to specify position depending on the
 * breakpoint we use a media query to style the cast list wrapper to be
 * scrollable on medium (and up) displays
 */


@media (min-width: 768px) {
  #cast-list.card .card-body > div.cast-list-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }

  /* fix info column width in two column layout */
  .play-info-column {
    width: 380px;
  }
}

@media (max-width: 768px) {
  .speech-dist-container {
    flex-direction: column;
  }
}

.card-header:last-child {
  border-bottom: none;
}

#play-meta-data {
  position: relative;
}

#play-meta-data h1 {
  font-size: 1.4rem;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
}

#play-meta-data ul, #download ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  #play-meta-data ul {
    max-width: 400px;
  }
}

/* leave space for .meta-data-toggler */
#play-meta-data ul > li:first-of-type {
  padding-right: 35px;
}

#play-meta-data .years span {
  display: inline-block;
  padding-right: .3rem;
}

#play-meta-data .meta-data-toggler {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.tei-frame {
  flex-grow: 1;
  position: relative;
}

/* fix overflow of CETEIcean content */
.tei-frame #TEI {
  padding: 35px;
}
