@import '../mixins.scss';

.main {
  color: var(--background-light);
  background-color: var(--main);
  padding-top: var(--bootstrap-padding);
  padding-bottom: 0;

  h1 {
    @include pagetitle;
  }

  // wraps the title, years, authors and meta information
  .play {
    display: flex;
    position: relative;
    gap: 2em;
    padding-left: var(--bootstrap-padding);
    padding-right: var(--bootstrap-padding);
    background: var(--main);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      height: 100%;
      width: 3em;
      background: linear-gradient(
        to left,
        var(--main),
        var(--main),
        var(--main-transparent)
      );
    }

    .title {
      min-width: 36ch;
      max-width: 50%;

      .subtitle {
        margin: 0;
        padding-top: 1rem;
        font-size: 1.3em;
        font-weight: 400;
        font-style: italic;
      }

      .meta {
        display: block;
        margin-top: 1em;

        .data-label {
          margin-right: 1em;

          a {
            border-radius: 0.3em;
            padding-right: 0.3em;
            background-color: #fff;
            font-size: 1rem;
            vertical-align: text-bottom;

            &::before {
              content: '';
              // Alternative Wikidata Logo // background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 810 500' style='enable-background:new 0 0 810 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231F2448;%7D .st1%7Bfill:%23007BFF;%7D .st2%7Bfill:%23AAEEFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,500h30V0H0V500z M60,500h90V0H60V500z M180,0v500h90V0H180z'/%3E%3Cpath class='st1' d='M720,500h30V0h-30V500z M780,0v500h30V0H780z M300,500h30V0h-30V500z M360,0v500h30V0H360z'/%3E%3Cpath class='st2' d='M420,500h90V0h-90V500z M540,500h30V0h-30V500z M600,0v500h90V0H600z'/%3E%3C/svg%3E%0A");
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 810 500' style='enable-background:new 0 0 810 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23990000;%7D .st1%7Bfill:%23339966;%7D .st2%7Bfill:%23006699;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,500h30V0H0V500z M60,500h90V0H60V500z M180,0v500h90V0H180z'/%3E%3Cpath class='st1' d='M720,500h30V0h-30V500z M780,0v500h30V0H780z M300,500h30V0h-30V500z M360,0v500h30V0H360z'/%3E%3Cpath class='st2' d='M420,500h90V0h-90V500z M540,500h30V0h-30V500z M600,0v500h90V0H600z'/%3E%3C/svg%3E%0A");
              width: 2em;
              height: 1.24em;
              display: inline-block;
              background-repeat: no-repeat;
              background-size: 65%;
              background-position: center;
              vertical-align: text-bottom;
            }
          }
        }

        .years {
          vertical-align: text-bottom;
          
          span {
            margin-right: 1rem;
          }
        }
      }
    }

    .authors {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      min-width: 50%;
      overflow-x: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;

      &::-webkit-scrollbar {
        display: none;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        gap: var(--bootstrap-padding);
        margin-bottom: 1em;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: var(--bootstrap-padding);
    }
  }
}

.sticky-headings {
  display: inline-flex;
  flex-flow: column;
  margin-left: 1em;

  p {
    margin-top: 0.15em;
    a {
      text-transform: uppercase;
    }
  }

  span {
    display: inline-flex;
  }

  h3 {
    padding: 0 0 0 0.5rem;
    &::before {
      content: '·';
      margin-right: 0.5rem;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: var(--x);
    }

    &:first-of-type::before {
      content: '';
      margin: 0;
    }
  }
}

:global(.sticky-outer-wrapper) {
  margin: 0;

  &:global(.active) {
    padding: 0;
    margin: 0;

    p {
      display: none;
    }

    h3 {
      padding-top: 0.42em;
      font-size: 1em;
      span {
        display: none;
      }
    }

    h1:first-of-type {
      font-size: 1.73em;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 0;
      padding-right: var(--x);
      text-decoration: underline;
      text-decoration-color: var(--secondary-accent);
      text-decoration-color: var(--secondary-accent);
      text-decoration-thickness: 0.1em;
    }
  }
}

:global(.sticky-inner-wrapper) {
  display: flex;
  flex-wrap: wrap;
  background: var(--main);
  padding-left: var(--bootstrap-padding);
  padding-right: var(--bootstrap-padding);
  // padding-right: var(--x);

  & > span {
    padding: var(--bootstrap-padding) 0 0;
    width: 100%;
    min-height: 4em;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      content: '';
      width: var(--x);
      height: 2em;
      background-image: linear-gradient(
        to left,
        var(--main),
        var(--main-transparent)
      );
      position: absolute;
      right: var(--x);
    }

    @media (max-width: 767px) {
      width: 100%;
      padding-bottom: 0;
      :global(.sticky-outer-wrapper):global(.active) &::after {
        height: 4em;
      }
    }
  }

  h1:first-of-type {
    font-size: 0;
    padding: 0;
    text-decoration: none;
  }

  h3 {
    font-weight: normal;
    font-size: 0;
    line-height: 1;
    margin: 0;

    span {
      font-size: 0.6em;
      vertical-align: middle;
    }
  }
}
