/* Scrollable frame with top/bottom white fade for TEI viewer */
.tei-frame {
  flex-grow: 1;
  position: relative;
  width: inherit;
  display: flex;
  z-index: 0;
}

.tei-frame .ceteicean {
  position: relative;
  overflow-y: auto;
  width: 100%;
}

.tei-frame .ceteicean > div {
  padding: 35px;
}

.tei-frame::before,
.tei-frame::after {
  content: '';
  position: absolute;
  width: calc(100% - 1rem);
  z-index: 1;
}

.tei-frame::before {
  top: 0;
  height: 3em;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.tei-frame::after {
  bottom: 0;
  height: 6em;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media only screen and (max-width: 767px) {
  .tei-frame {
    overflow-y: hidden;
  }
  .tei-frame .ceteicean > div {
    padding: 0;
  }
  .tei-frame::before,
  .tei-frame::after {
    display: none;
  }
}

.dracor-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.dracor-scrollbar::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 0.25rem;
}

.dracor-scrollbar::-webkit-scrollbar-thumb,
.dracor-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--main);
  border: none;
  border-radius: 0.25rem;
}
