.main {
  .select {
    label {
      display: inline-block;
      margin-left: 0.6em;
    }
    input {
      display: inline-block;
      margin-right: 0.3em;
      vertical-align: middle;
    }
  }
}
