@mixin pagetitle {
  text-decoration: underline;
  text-decoration-color: var(--secondary-accent);
  text-decoration-thickness: .1em;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}
