@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    z-index: 1000;

    position: absolute;
    top: 98%;

    display: block;

    width: 80px;
    height: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:after,
.slick-prev:focus:after,
.slick-next:hover:after,
.slick-next:focus:after
{
    opacity: 1;
}
.slick-prev.slick-disabled:after,
.slick-next.slick-disabled:after
{
    opacity: .25;
}

.slick-prev:after,
.slick-next:after
{
    font-size: 20px;
    line-height: 1;
    padding: .5em 0;
    opacity: .75;
    color: #1F2448;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 30%;
}
[dir='rtl'] .slick-prev
{
    right: 30%;
    left: auto;
}
.slick-prev:after
{
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 10' style='enable-background:new 0 0 50 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%231F2448;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cline class='st0' x1='1.4' y1='5' x2='50' y2='5'/%3E%3Cg%3E%3Cpolygon points='4.7,9.1 5.4,8.4 1.8,5 5.4,1.6 4.7,0.9 0.3,5 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
[dir='rtl'] .slick-prev:after
{
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 10' style='enable-background:new 0 0 50 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%231F2448;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cline class='st0' x1='48.8' y1='5' x2='0.2' y2='5'/%3E%3Cg%3E%3Cpolygon points='45.4,0.9 44.8,1.6 48.4,5 44.8,8.4 45.4,9.1 49.8,5 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.slick-next
{
    right: 30%;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 30%;
}
.slick-next:after
{
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 10' style='enable-background:new 0 0 50 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%231F2448;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cline class='st0' x1='48.8' y1='5' x2='0.2' y2='5'/%3E%3Cg%3E%3Cpolygon points='45.4,0.9 44.8,1.6 48.4,5 44.8,8.4 45.4,9.1 49.8,5 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
[dir='rtl'] .slick-next:after
{
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 10' style='enable-background:new 0 0 50 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%231F2448;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cline class='st0' x1='1.4' y1='5' x2='50' y2='5'/%3E%3Cg%3E%3Cpolygon points='4.7,9.1 5.4,8.4 1.8,5 5.4,1.6 4.7,0.9 0.3,5 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 0em;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #1F2448;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #1F2448;
}