name: Deployment

on:
  workflow_call:
    inputs:
      host:
        required: true
        type: string
      deploy-path:
        required: true
        type: string
    secrets:
      deploy-key:
        required: true
      deploy-user:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: 'pnpm'
      - name: Restore node_modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}

      - run: ./version.sh
      - run: git describe --tags --dirty --always
      - run: pnpm install
      - run: |
          echo "VITE_WITH_RAHTZ_PRIZE=yes" >> "$GITHUB_ENV"
          echo "VITE_DRACOR_LEGACY_API=/api/v0" >> "$GITHUB_ENV"
      - run: pnpm build
      - uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.deploy-key }}

      - name: Deploy to ${{ inputs.host }}
        run: |
          rsync -rlvz --delete \
            --exclude=robots.txt \
            --exclude=schema.rng \
            --exclude=dracor.sch \
            --exclude=ontology.xml \
            --exclude=google*.html \
            -e 'ssh -o StrictHostKeyChecking=no' \
            build/ \
            ${{ secrets.deploy-user }}@${{ inputs.host }}:${{ inputs.deploy-path }}/
