name: Deploy to dev

on:
  workflow_dispatch:

jobs:
  dev:
    uses: dracor-org/dracor-frontend/.github/workflows/deployment.yml@355-restructure-nav
    with:
      host: dev.dracor.org
      deploy-path: /var/www/html
    secrets:
      deploy-key: ${{ secrets.DRACOR_ORG_DEPLOY_KEY }}
      deploy-user: ${{ secrets.DRACOR_ORG_DEPLOY_USER }}
